.center {
    display:flex;justify-content:center;align-items:center;
}

.largeGreen {
    color:green;font-weight:bold;font-size:large
}

.largeRed {
    color:red;font-weight:bold;font-size:large
}

.aboutAvatar {
	float: left; margin-right: 20px; margin-bottom: 20px;
}
